:root {
  --color1: #F5EDDC;
  --color2: #000000;
  --color3: #A2B5BB;
  --color4: #ef475b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--color1);
  color: var(--color2);
}