@import url(./base.css);

.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

#game {
  width: calc(95% - 10px);
  height: calc(95% - 10px);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.item {
 display: flex;
 justify-content: center; 
 align-items: center;
 border: 1px black solid;
 background-color: #FEB139;
 cursor: pointer;
}

.item span {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5vw;
}

.hole {
  border: 1px black solid;
  background-color: rgb(255, 255, 255);
}

input[type=number], select, textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}